body {
  padding: 0;
}

::before, ::after {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1400px) {
  .container {
    width: 1290px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.column-js, .column-jc, .ae-jb, .as-jc, .jb, .as-jb, .ac-jb, .ac-jc, .as, .ac, .flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.ae-jb, .jb, .as-jb, .ac-jb {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.column-js {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
}

.column-jc, .as-jc, .ac-jc {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.ac-jb, .ac-jc, .ac {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.as-jc, .as-jb, .as {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.column-js, .column-jc {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ae-jb {
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.shrink {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}

@font-face {
  font-family: "ProximaNova";
  font-weight: 400;
  src: url("/fonts/ProximaNova-Regular.ttf") format("truetype"), url("/fonts/ProximaNova-Regular.woff") format("woff"), url("/fonts/ProximaNova-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "ProximaNova";
  font-weight: 300;
  src: url("/fonts/ProximaNova-Thin.ttf") format("truetype"), url("/fonts/ProximaNova-Thin.woff") format("woff"), url("/fonts/ProximaNova-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "ProximaNova";
  font-weight: 600;
  src: url("/fonts/ProximaNova-SemiBold.ttf") format("truetype"), url("/fonts/ProximaNova-SemiBold.woff") format("woff"), url("/fonts/ProximaNova-SemiBold.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

body {
  line-height: 1;
}

table {
  border-spacing: 0;
}

@-moz-document url-prefix() {
  body {
    letter-spacing: -0.09px;
  }
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 20px;
  right: 16px;
  width: 14px;
  height: 10px;
  background-image: url("../images/arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 10px;
}

.select2-container--open .select2-selection__arrow {
  -moz-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #daa942;
  font-weight: 600;
  line-height: 50px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 10px;
  padding-right: 24px;
  background-color: transparent;
  border: 1px solid #daa942;
}

.select2-search--dropdown {
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  border: 1px solid red;
}

.select2-dropdown {
  background-color: #1e071b;
  box-shadow: 0 0 5px 0 rgba(34, 34, 34, 0.2);
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
}

.select2-results__option {
  padding: 8px 10px;
  color: #daa942;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  color: green;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: #daa942;
}

.select2 {
  width: 100% !important;
}

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}
.select2-container .select2-search--inline {
  float: left;
}
.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 50px;
  user-select: none;
  -webkit-user-select: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}
.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 54px;
  user-select: none;
  -webkit-user-select: none;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-dropdown {
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 50;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  border: 1px solid #daa942;
  border-top: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid #daa942;
}
.select2-results__option:last-of-type {
  border-bottom: none;
}
.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}
.select2-search--dropdown {
  display: block;
}
.select2-search--dropdown.select2-search--hide {
  display: none;
}
.select2-search--dropdown .select2-search__field {
  box-sizing: border-box;
  width: 100%;
}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: transparent;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: #daa942;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}
.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  font-size: 16px;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}
.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}
.select2-container--default .select2-results > .select2-results__options {
  overflow-y: auto;
}
.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}
.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}
.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 20;
  background-color: #2d1829;
  padding: 10px 0;
}
@media (max-width: 1024px) {
  header {
    position: initial;
    padding: 30px 0;
  }
}
@media (hover: none) and (pointer: coarse) {
  header {
    position: initial;
    padding: 30px 0;
  }
}
@media (max-width: 600px) {
  header {
    padding: 10px 0;
  }
}

@media (max-width: 1024px) {
  .logo {
    margin-bottom: 25px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .logo {
    margin-bottom: 25px;
  }
}
@media (max-width: 600px) {
  .logo {
    display: none;
  }
}

.header-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
@media (max-width: 1024px) {
  .header-row {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (hover: none) and (pointer: coarse) {
  .header-row {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
@media (max-width: 1024px) {
  nav {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (hover: none) and (pointer: coarse) {
  nav {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  nav {
    display: none;
  }
}

.nav-link {
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  transition: opacity 0.2s;
  margin: 0 15px;
  display: block;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .nav-link {
    margin: 0 0 20px 0;
  }
}
@media (hover: none) and (pointer: coarse) {
  .nav-link {
    margin: 0 0 20px 0;
  }
}
.nav-link:first-of-type {
  margin-left: 0;
}
.nav-link:last-of-type {
  margin-right: 0;
}
.nav-link.active, .nav-link:hover {
  opacity: 0.7;
}

.callback {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 2px solid #1e071b;
  background-color: #daa942;
  padding: 11px 30px;
  cursor: pointer;
}
.callback input {
  display: none;
}
.callback.big {
  font-size: 24px;
  color: #000000;
  font-weight: 600;
  padding: 15px 30px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .callback.big {
    font-size: 16px;
  }
}
.callback.big:hover {
  color: #daa942;
  background-color: #2d1829;
  border-color: #daa942;
}
@media (max-width: 600px) {
  .callback {
    font-size: 18px;
    text-align: center;
    padding: 20px 30px;
    width: 280px;
  }
}

.banner {
  height: 100vh;
  min-height: 700px;
  width: 100%;
  background-position: center center;
  background-attachment: scroll;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 150px 0;
}
.banner .typed-cursor {
  color: #ffffff;
  height: 70px;
  font-size: 70px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .banner .typed-cursor {
    font-size: 50px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .banner .typed-cursor {
    font-size: 50px;
  }
}
@media (max-width: 1024px) {
  .banner {
    padding: 50px 0;
  }
}
@media (hover: none) and (pointer: coarse) {
  .banner {
    padding: 50px 0;
  }
}
.banner:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(45, 24, 41, 0.5)), to(rgba(45, 24, 41, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(45, 24, 41, 0.5), rgba(45, 24, 41, 0.5));
  background-image: linear-gradient(to bottom, rgba(45, 24, 41, 0.5), rgba(45, 24, 41, 0.5));
}
.banner .container {
  position: relative;
  z-index: 1;
}
.banner h1, .banner .h1 {
  font-weight: 700;
  line-height: 1.1;
  color: #daa942;
  text-align: right;
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .banner h1, .banner .h1 {
    text-align: center;
    margin-bottom: 25px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .banner h1, .banner .h1 {
    text-align: center;
    margin-bottom: 25px;
  }
}
@media (max-width: 359px) {
  .banner h1, .banner .h1 {
    text-align: left;
  }
}
.banner .h1 {
  text-transform: initial;
}

.inner-banner {
  padding-right: 50px;
}
@media (max-width: 1024px) {
  .inner-banner {
    padding-right: 0;
  }
}
@media (hover: none) and (pointer: coarse) {
  .inner-banner {
    padding-right: 0;
  }
}
.inner-banner .info-text {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
}
.inner-banner .callback {
  margin-bottom: 100px;
}
@media (max-width: 500px) {
  .inner-banner .callback {
    margin-bottom: 40px;
    padding: 10px 15px;
    font-size: 14px;
    width: 280px;
  }
}

.banner-typed {
  color: #ffffff;
  height: 70px;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 1024px) {
  .banner-typed {
    font-size: 50px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .banner-typed {
    font-size: 50px;
  }
}

.typed-wrap {
  margin-bottom: 70px;
}

.modal {
  padding: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  max-height: 100vh;
  overflow-y: auto;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #2d1829;
  z-index: 999;
  width: 500px;
  max-width: 100%;
  transition: opacity 0.4s;
}
.modal.hide {
  opacity: 0;
  pointer-events: none;
}
.modal .callback {
  display: inline-block;
  margin: auto;
  transition: color 0.2s;
}
.modal .callback:hover {
  color: #2d1829;
}
.modal h4 {
  color: #ffffff;
}
.modal .close-modal {
  position: absolute;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 10px;
  top: 10px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.modal .close-modal:after, .modal .close-modal:before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  border-radius: 2px;
}
.modal .close-modal:after {
  width: 2px;
  height: 100%;
  left: calc(50% - 1px);
  top: 0;
}
.modal .close-modal:before {
  height: 2px;
  width: 100%;
  top: calc(50% - 1px);
  left: 0;
}

.back-layer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  cursor: pointer;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 998;
  transition: opacity 0.4s;
}
.back-layer.hide {
  opacity: 0;
  pointer-events: none;
}

.validation-field {
  position: relative;
  margin: 0 auto 20px auto;
  width: 300px;
  max-width: 100%;
}
.validation-field .placeholder {
  position: absolute;
  pointer-events: none;
  transition: all 0.3s;
  left: 20px;
  top: 18px;
  font-size: 16px;
  color: #ffffff;
  background-color: #2d1829;
  padding: 1px 3px;
}
.validation-field.active .placeholder {
  font-size: 12px;
  top: -6px;
}
.validation-field input {
  height: 50px;
  padding: 10px 10px 10px 20px;
  font-size: 16px;
  width: 100%;
  background-color: transparent;
  border: 2px solid #daa942;
  border-radius: 30px;
}
.validation-field input:focus + .placeholder {
  font-size: 12px;
  top: -6px;
}

.stock-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 40px 0;
  background-color: #1e071b;
}
.stock-block h2 {
  text-transform: initial;
  font-weight: 500;
  color: #daa942;
}
.stock-block .callback {
  width: 360px;
  text-align: center;
}
@media (max-width: 1024px) {
  .stock-block .callback {
    width: 350px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .stock-block .callback {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .stock-block .callback {
    width: 290px;
  }
}
.stock-block .callback:first-of-type {
  margin-bottom: 30px;
}

.master-block {
  background-color: #1e071b;
  padding: 20px 0;
}
.master-block h2 {
  text-transform: initial;
  font-weight: 500;
  color: #daa942;
}
.master-block .callback {
  width: 360px;
  text-align: center;
  margin-bottom: 40px;
}

.master-title {
  color: #ffffff;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
.master-title:after {
  content: "";
  position: absolute;
  left: 20%;
  width: 60%;
  height: 1px;
  background-color: #daa942;
  bottom: 0;
}

.master-grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.master-item {
  width: calc(25% - 20px);
  margin: 0 10px 20px 10px;
}
@media (max-width: 1024px) {
  .master-item {
    width: calc(33.33% - 20px);
  }
}
@media (hover: none) and (pointer: coarse) {
  .master-item {
    width: calc(33.33% - 20px);
  }
}
@media (max-width: 767px) {
  .master-item {
    width: calc(50% - 20px);
  }
}

.master-image {
  overflow: hidden;
  width: 100%;
  height: 400px;
  position: relative;
  display: block;
}
@media (max-width: 1199px) {
  .master-image {
    height: 300px;
  }
}
@media (max-width: 767px) {
  .master-image {
    height: 250px;
  }
}
.master-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  object-fit: cover;
}

.master-info {
  background-color: #daa942;
  padding: 18px 20px;
}
@media (max-width: 767px) {
  .master-info {
    padding: 10px;
  }
}
.master-info .name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.master-info .text {
  height: 85px;
  overflow: hidden;
  color: #1e071b;
  line-height: 1.25;
  font-size: 14px;
  margin-bottom: 10px;
}
.master-info .price {
  font-size: 16px;
  margin-bottom: 20px;
}
.master-info .more {
  font-weight: 600;
  display: inline-block;
  background-color: #1e071b;
  border-radius: 30px;
  padding: 15px 20px;
  color: #ffffff;
}
@media (max-width: 767px) {
  .master-info .more {
    padding: 15px 20px;
    font-size: 13px;
  }
}
.master-info .more:first-of-type {
  margin-bottom: 10px;
}
.master-info .more-column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .master-info .more-column {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
}

.program-grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -20px;
}
@media (max-width: 1199px) {
  .program-grid {
    margin: 0 -10px;
  }
}

.program-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 395px;
  width: calc(33.33% - 40px);
  margin: 0 20px 40px 20px;
  text-decoration: none;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .program-item {
    height: 345px;
  }
}
@media (max-width: 1199px) {
  .program-item {
    height: 288px;
    width: calc(33.33% - 20px);
    margin: 0 10px 20px 10px;
  }
}
@media (max-width: 1024px) {
  .program-item {
    height: 233px;
    width: calc(50% - 20px);
    margin: 0 10px 20px 10px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .program-item {
    height: 233px;
    width: calc(50% - 20px);
    margin: 0 10px 20px 10px;
  }
}
@media (max-width: 1024px) {
  .program-item {
    height: 350px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .program-item {
    height: 350px;
  }
}
@media (max-width: 767px) {
  .program-item {
    height: 360px;
    width: calc(100% - 20px);
    margin: 0 10px 20px 10px;
  }
}
.program-item:hover img {
  width: 105%;
  height: 105%;
}
.program-item:hover .title {
  -moz-transform: translate3d(0px, -35px, 0px);
  -o-transform: translate3d(0px, -35px, 0px);
  -ms-transform: translate3d(0px, -35px, 0px);
  -webkit-transform: translate3d(0px, -35px, 0px);
  transform: translate3d(0px, -35px, 0px);
}
.program-item:hover .program-more {
  opacity: 1;
  -moz-transform: translate3d(0px, -30px, 0px);
  -o-transform: translate3d(0px, -30px, 0px);
  -ms-transform: translate3d(0px, -30px, 0px);
  -webkit-transform: translate3d(0px, -30px, 0px);
  transform: translate3d(0px, -30px, 0px);
}
.program-item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: -o-linear-gradient(top, rgba(15, 15, 15, 0.5), rgba(0, 0, 0, 0.4));
  background: -moz-linear-gradient(top, rgba(15, 15, 15, 0.5), rgba(0, 0, 0, 0.4));
  background: -ms-linear-gradient(top, rgba(15, 15, 15, 0.5), rgba(0, 0, 0, 0.4));
  background: -webkit-linear-gradient(top, rgba(15, 15, 15, 0.5), rgba(0, 0, 0, 0.4));
}
.program-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all ease-in-out 0.25s;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  object-fit: cover;
}
.program-item .title {
  position: relative;
  z-index: 2;
  font-weight: 600;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  line-height: 1.35;
  -moz-transform: translate3d(0px, 30px, 0px);
  -o-transform: translate3d(0px, 30px, 0px);
  -ms-transform: translate3d(0px, 30px, 0px);
  -webkit-transform: translate3d(0px, 30px, 0px);
  transform: translate3d(0px, 30px, 0px);
  transition: all ease-in-out 0.25s;
  padding: 0 40px;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .program-item .title {
    -moz-transform: translate3d(0px, 0, 0px);
    -o-transform: translate3d(0px, 0, 0px);
    -ms-transform: translate3d(0px, 0, 0px);
    -webkit-transform: translate3d(0px, 0, 0px);
    transform: translate3d(0px, 0, 0px);
    margin-bottom: 15px;
    font-size: 22px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .program-item .title {
    -moz-transform: translate3d(0px, 0, 0px);
    -o-transform: translate3d(0px, 0, 0px);
    -ms-transform: translate3d(0px, 0, 0px);
    -webkit-transform: translate3d(0px, 0, 0px);
    transform: translate3d(0px, 0, 0px);
    margin-bottom: 15px;
    font-size: 22px;
  }
}
.program-item .program-more {
  position: relative;
  z-index: 1;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  height: 45px;
  font-size: 14px;
  transition: all ease-in-out 0.25s;
  -moz-transform: translate3d(0px, -20px, 0px);
  -o-transform: translate3d(0px, -20px, 0px);
  -ms-transform: translate3d(0px, -20px, 0px);
  -webkit-transform: translate3d(0px, -20px, 0px);
  transform: translate3d(0px, -20px, 0px);
  opacity: 0;
  padding: 15px 30px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}
@media (max-width: 1024px) {
  .program-item .program-more {
    -moz-transform: translate3d(0px, 0, 0px);
    -o-transform: translate3d(0px, 0, 0px);
    -ms-transform: translate3d(0px, 0, 0px);
    -webkit-transform: translate3d(0px, 0, 0px);
    transform: translate3d(0px, 0, 0px);
    opacity: 1;
  }
}
@media (hover: none) and (pointer: coarse) {
  .program-item .program-more {
    -moz-transform: translate3d(0px, 0, 0px);
    -o-transform: translate3d(0px, 0, 0px);
    -ms-transform: translate3d(0px, 0, 0px);
    -webkit-transform: translate3d(0px, 0, 0px);
    transform: translate3d(0px, 0, 0px);
    opacity: 1;
  }
}

.tab-list {
  margin-bottom: 90px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
@media (max-width: 1024px) {
  .tab-list {
    display: none;
  }
}
@media (hover: none) and (pointer: coarse) {
  .tab-list {
    display: none;
  }
}
.tab-list li {
  margin-left: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #2d1829;
  list-style: none;
}
.tab-list li a {
  width: 280px;
  font-weight: 600;
  display: block;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #949494;
  text-decoration: none;
}
.tab-list li.active {
  border-bottom: 1px solid #daa942;
}
.tab-list li.active a {
  color: #daa942;
}

.mob-select-tab {
  display: none;
}
@media (max-width: 1024px) {
  .mob-select-tab {
    display: block;
  }
}
@media (hover: none) and (pointer: coarse) {
  .mob-select-tab {
    display: block;
  }
}

.tabs .select2 {
  margin: auto;
  display: block !important;
  margin-bottom: 40px;
  width: 420px !important;
  max-width: 100%;
}
.tabs .select2 .select2-results__option {
  color: #daa942;
}

footer {
  background-color: #1e071b;
}

.footer-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer-row .left, .footer-row .right {
  width: 50%;
}
@media (max-width: 767px) {
  .footer-row .left, .footer-row .right {
    width: 100%;
  }
}
.footer-row .right {
  padding: 70px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
@media (max-width: 1024px) {
  .footer-row .right {
    padding: 40px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .footer-row .right {
    padding: 40px;
  }
}
@media (max-width: 767px) {
  .footer-row .right {
    padding: 30px 20px;
  }
}
.footer-row .name {
  color: #daa942;
  font-weight: bold;
  font-size: 26px;
}
@media (max-width: 1199px) {
  .footer-row .name {
    font-size: 22px;
  }
}
.footer-row .address {
  line-height: 40px;
  font-size: 26px;
  color: #daa942;
}
@media (max-width: 1199px) {
  .footer-row .address {
    font-size: 22px;
  }
}
.footer-row .phone {
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  .footer-row .phone {
    font-size: 18px;
  }
}
.footer-row .vacancy {
  color: #ff8562;
  text-decoration: none;
}

#map {
  height: 700px;
  width: 100%;
}
#map iframe {
  height: 100%;
  width: 100%;
}
@media (max-width: 767px) {
  #map {
    height: 300px;
  }
}

.footer-link a {
  font-weight: 400;
  color: #f2efef;
  padding: 30px 0;
  font-size: 20px;
}

/*# sourceMappingURL=index.css.map */
